v1/task-report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="https://phpcq.github.io/schema/v1/task-report.xsd"
           xmlns:tns="https://phpcq.github.io/schema/v1/task-report.xsd"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="task-report" type="tns:reportFile">
    <xs:annotation>
      <xs:documentation>
        The root element for reports.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="reportFile">
    <xs:sequence>
      <xs:element name="tasks" type="tns:taskListType">
      </xs:element>
    </xs:sequence>
    <xs:attribute name="status" type="tns:reportStatusType" use="required"/>
    <xs:attribute name="started_at" type="xs:dateTime" use="required">
      <xs:annotation>
        <xs:documentation>
          Date/time when the phpcq run has been started.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="completed_at" type="xs:dateTime" use="required">
      <xs:annotation>
        <xs:documentation>
          Date/time when the phpcq run has been completed.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:simpleType name="reportStatusType">
    <xs:annotation>
      <xs:documentation>
        The status of the execution.
        Either "passed" or "failed".
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="passed"/>
      <xs:enumeration value="failed"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="taskListType">
    <xs:annotation>
      <xs:documentation>
        The list of all task reports.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="task" minOccurs="0" maxOccurs="unbounded" type="tns:taskReportType">
        <!-- FIXME: unique condition does somehow not work out... :/ -->
        <xs:unique name="unique_task">
          <xs:selector xpath="."/>
          <xs:field xpath="@tns:name"/>
        </xs:unique>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="taskReportType">
    <xs:annotation>
      <xs:documentation>
        Report information of a single task.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="diagnostics" type="tns:taskDiagnosticListType"/>
      <xs:element name="attachments" type="tns:taskAttachmentListType" minOccurs="0"/>
      <xs:element name="diffs" type="tns:taskDiffListType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="name" type="tns:nonEmptyStringType">
      <xs:annotation>
        <xs:documentation>The name of the executed task</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="status" type="tns:taskStatusType"/>
    <xs:attribute name="version" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>The task version</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:simpleType name="taskStatusType">
    <xs:annotation>
      <xs:documentation>
        The exit status of the task execution. Either "passed" or "failed".
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="passed"/>
      <xs:enumeration value="failed"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="taskDiagnosticListType">
    <xs:annotation>
      <xs:documentation>
        The found diagnostics by the task.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="diagnostic" type="tns:taskDiagnosticType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="taskDiagnosticType">
    <xs:annotation>
      <xs:documentation>
        A diagnostic entry found by a task.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="class_name" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            One or more classes this diagnostic relates to.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="name" type="tns:nonEmptyStringType" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="category" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            One or more categories this diagnostic can be described as.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="name" type="tns:nonEmptyStringType" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="file" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            One or more files this diagnostic refers to.
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute type="xs:int" name="line">
            <xs:annotation>
              <xs:documentation>
                Optional line number within the file denoted by "file" the diagnostic begins on.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:int" name="column">
            <xs:annotation>
              <xs:documentation>
                Optional column on the line denoted by "line" within the file denoted by "file" the diagnostic begins on.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:int" name="line_end">
            <xs:annotation>
              <xs:documentation>
                Optional line number within the file denoted by "file" the diagnostic ends on.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:int" name="column_end">
            <xs:annotation>
              <xs:documentation>
                Optional column on the line denoted by "line_end" within the file denoted by "file" the diagnostic ends on.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="xs:string" name="name" use="required">
            <xs:annotation>
              <xs:documentation>
                The file name.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="message" type="tns:nonEmptyStringCollapsedType">
        <xs:annotation>
          <xs:documentation>
            The message of the diagnostic.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="tns:taskDiagnosticSeverityType" name="severity" use="required"/>
    <xs:attribute type="tns:nonEmptyStringType" name="source"/>
    <xs:attribute type="tns:nonEmptyStringType" name="external_info_url"/>
  </xs:complexType>

  <xs:simpleType name="taskDiagnosticSeverityType">
    <xs:annotation>
      <xs:documentation>
        The severity of the diagnostic.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="tns:nonEmptyStringType">
      <xs:enumeration value="none">
        <xs:annotation>
          <xs:documentation>A non issue - strictly informational. (additional debug info requested like task execution argument - only to be exported if threshold is set to none)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="info">
        <xs:annotation>
          <xs:documentation>A non issue - strictly informational.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="marginal">
        <xs:annotation>
          <xs:documentation>Marginal issue - no immediate action has to be taken.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="minor">
        <xs:annotation>
          <xs:documentation>A minor issue - action should be taken but is not required (could be code style violations or the like).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="major">
        <xs:annotation>
          <xs:documentation>A major issue - action MUST be taken (could be failing unit tests).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fatal">
        <xs:annotation>
          <xs:documentation>A fatal issue - (could be missing dependencies or the like which make the project unusable).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="taskAttachmentListType">
    <xs:annotation>
      <xs:documentation>The attachments produced by the task.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attachment" type="tns:taskAttachmentType" maxOccurs="unbounded" nillable="true"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="taskAttachmentType">
    <xs:annotation>
      <xs:documentation>The attachment body</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="tns:nonEmptyStringType" use="required">
          <xs:annotation>
            <xs:documentation>The attachment name.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="filename" type="tns:nonEmptyStringType" use="required">
          <xs:annotation>
            <xs:documentation>The attachment name.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="mime" type="xs:string">
          <xs:annotation>
            <xs:documentation>The mime type.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="taskDiffListType">
    <xs:annotation>
      <xs:documentation>The diffs produced by the task.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="diff" type="tns:taskDiffType" maxOccurs="unbounded" nillable="true"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="taskDiffType">
    <xs:annotation>
      <xs:documentation>The diff body</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="tns:nonEmptyStringType" use="required">
          <xs:annotation>
            <xs:documentation>The diff name.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="filename" type="tns:nonEmptyStringType" use="required">
          <xs:annotation>
            <xs:documentation>The attachment name.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="nonEmptyStringType">
    <xs:annotation>
      <xs:documentation>A non empty string.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value=".*[^\s].*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="nonEmptyStringCollapsedType">
    <xs:annotation>
      <xs:documentation>A non empty string with collapsed whitespace.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="tns:nonEmptyStringType">
      <xs:whiteSpace value="collapse"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
